.secondList {
    margin: auto;
    color: rgb(255, 255, 255);
}

.secHead {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(28, 73, 69, 1) 55%, rgba(0, 212, 255, 1) 100%);
    color: white;
}

.secArt {
    background-image: url(../assets/cat.jpg);
    background-color: dimgray;
    background-size: cover;
}

.secHomeOlAnim {
    text-align: left;
    margin: auto;
    margin-right: 0px;
    max-width: 600px;
    font-size: large;
    margin-bottom: 0px;
    padding-bottom: 20px;
    animation-duration: 1s;
    animation-name: revSlide;
}

.secHomeOl {
    text-align: left;
    margin: auto;
    margin-right: 0px;
    max-width: 600px;
    font-size: large;
    margin-bottom: 0px;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0);
}

.secHomeOl li {
    padding-top: 2px;
    padding-bottom: 2px;
}

.secHomeOlAnim li {
    padding-top: 2px;
    padding-bottom: 2px;
}

@keyframes revSlide {
    0% {
        transform: translateX(900px);
    }
    100% {
        transform: translateX(0);
    }
}

@media only screen and (max-width: 600px) {
    .secArt {     
        background-image: none;  
        background-color: black;
        background-size: cover;
    }
}